<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h2>タスク管理システム - ログイン</h2>
    
    <div th:if="${param.error}" style="color: red;">
        ユーザー名またはパスワードが違います。
    </div>
    <div th:if="${param.logout}" style="color: blue;">
        ログアウトしました。
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <label>ユーザー名:</label>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>パスワード:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">ログイン</button>
    </form>
</body>
</html>